<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head", {title: title})%>
  <body>
    <h1><%=title %></h1>
    <li>
      <p>name: <%=file.name %></p>
      <p>mimetype: <%=file.mimetype %></p>
      <p>size: <%=file.size %> bytes</p>
      <form method="POST" action=<%=`/files/file/${file.id}/download`%>>
        <button type="submit">download</button>
      </form>
    </li>
  </body>
</html>