<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (locals.user) {%>
      <p>Hi, <%=user.username %></p>
      <a href="/users/logout">Log out</a>
    <% } else {%>
      <a href="/users/login">Log in</a>
      <a href="/users/signup">Sign up</a>
    <% } %>
    <% if (locals.files) { %>
      <% if (files) { %>
        <ul>
          <h2>My drive</h2>
          <% files.map(file => { %>
            <li>
              <p><%=file.name%></p>
            </li>
          <% }) %>
        </ul>
      <% } %>
    <% } %>
  </body>
</html>
